// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
.flip {

    background-image: url(https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg);
    background-size: cover;
    height: 280px;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
    width:100%; 
    float:left;
}
.empty-post{
    margin-top: 20px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.post-title {
    display: block;
}

.page-container {
    margin-top: 280px; 
}
.container {
    margin-bottom: 100px;
}
.selector {

    width: 186px;

}
.post-show{
    margin-bottom: 0px;
    height: 500px;
    width: 900px;

}
.card-header {
    padding:.75rem 1.25rem;
    margin-bottom:0px;
    background-color: rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125);
}

.img-responsive {
    width: 240px;
    height: 130px;
}
.card {
    margin-top: 10px;
}
.check-button{
    height: 32px;
}
.card-body {
    padding: 0px;
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem;
}
.flip h1{
    color:white;
}
.flip h2{
    color:white;
}
.top-content{
    margin-top: 70px;
}
.poster {
    color: rgb(156, 156, 156);
} 
.form-inline {
    padding-right: 0px;
}

.image-user {
   width: 50px; 
   height: 50px; 
}
