// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";
.flip {

    background-image: url(https://static.pexels.com/photos/373912/pexels-photo-373912.jpeg);
    background-size: cover;
    height: 280px;
    left: 0;
    position: absolute;
    top: 0;
    background-position: 0;
    width:100%; 
    float:left;
}
.empty-post{
    margin-top: 20px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.post-title {
    display: block;
}

.page-container {
    margin-top: 5px; 
}
.container {
    margin-bottom: 100px;
}
.selector {

    width: 186px;

}
.post-show{
    margin-bottom: 0px;
    height: 500px;
    width: 900px;

}
.card-header {
    padding:.75rem 1.25rem;
    margin-bottom:0px;
    background-color: rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125);
}

.img-responsive {
    width: 240px;
    height: 130px;
}
.card {
    margin-top: 10px;
}
.check-button{
    height: 32px;
}
.card-body {
    padding: 0px;
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem;
}
.flip h1{
    color:white;
}
.flip h2{
    color:white;
}
.top-content{
    margin-top: 70px;
}
.poster {
    color: rgb(156, 156, 156);
} 
.form-inline {
    padding-right: 0px;
}

.image-user {
   width: 50px; 
   height: 50px; 
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  background-color:rgba(0,0,0,0.7);
  display: none;
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 46px;
    color: #fff;
    margin:-30px 0 0 -30px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
  }
}
input#userAvatar{
  margin-left: 120px;
  margin-top: 10px;
}
.change-body-card{
  margin:50px;
}
.change-card{
  margin-bottom: 100px;
}
.navbar-brand {
  margin-right:900px;
}
.navbar-dark .navbar-nav .nav-link  {
  color: white;
}


.body-change-card{
  padding-top: 0px;
}
button.like{
  width: 40px;
  height: 40px;
  margin: 10 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(0,150,136 ,1);
  background-color: white;
  border-color: rgba(0,150,136 ,1);
  border-width: 1px;
  font-size: 15px;
  &.disabled {
    cursor: default;
  }
}

button.dislike{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: rgba(255,82,82 ,1);
  background-color: white;
  border-color: rgba(255,82,82 ,1);
  border-width: 1px;
  font-size: 15px;
  &.disabled {
    cursor: default;
  }
}
button.message{
  width: 40px;
  height: 40px;
  margin: 10 auto;
  line-heigth: 50px;
  border-radius: 50%;
  color: blue;
  background-color: white;
  border-color:   rgb(0, 191, 255);
  border-width: 1px;
  font-size: 15px;
  &.disabled {
    cursor: default;
  }
}
.summery-tegs{
  margin-left: 10px;
  
}
.post-button{
  margin-top:15px;
}
.newnested-form{
  border: 0px solid rgba(0, 0, 0, 0.125) unset;
}
