<header>
  <nav class="navbar fixed-top fixed-bottom navbar-dark bg-primary navbar-expand-sm">
    <ul class="navbar-nav">
      <a class="navbar-brand" href="/posts" data-turbolinks="false">Blog</a>
    <li class="nav-item">
      <a class="nav-link" href="/posts" data-turbolinks="false">Posts</a>
    </li>
    <li class="nav-item">
    </li>
    <% if logged_in? %>
      <li class="nav-item">
          <%= link_to "Profile", current_author, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Create new post", new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Log out", logout_path, method: "delete", class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "Setting", edit_author_path(current_author), method: "get", class: "nav-link" %>
      </li>
  
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    <% end %>
  </ul>
  </nav>
</header>